/*
!packages.txt
!.ideavimrc
!pulse/default.pa
!nvim
!alacritty
!fish
!mutt
!nnn
!rofi
!zathura
!.gitignore
!README.md
!sxiv
!xinit
!zsh
!xmodmap
!aliasrc
!groups.txt
!newsboat
!gtk-3.0
!gtk-2.0
!.bashrc
!dwm
!CalibreLibrary
!nginx.conf.copy
!picom
!mpv
!eslint-plugin.js
!eslint-plugin-provider.js
!.profile
!dconf-settings.ini
