@import "mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, JetBrainsMono Nerd Font, Helvetica, Arial, sans-serif;
    font-size: 12px;
    border-radius: 5px;
    padding: 0.2em;
}

window#waybar {
    background-color: @base;
    color: #ffffff;
    border-radius: 0;
    padding: 10px;
}

window#waybar.hidden {
    opacity: 1;
}

button {
    border: none;
    margin-right: 5px;
}

button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: @mauve;
    color: #181825;
}

#workspaces button.urgent {
    background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#mpd {
    padding: 0 9px;
    padding-right: 10px;
    color: #181825;
    background-color: @mauve;
}

#idle_inhibitor {
    color: #181825;
    background-color: @mauve;
    padding: 0 9px;
    padding-right: 15px;
}
